name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build_esp32:

    name: build esp32

    runs-on: ubuntu-latest

    strategy:
      matrix:
        fqbn:
          - esp32:esp32:esp32

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: ${{ matrix.fqbn }}
          verbose: true
          platforms: |
            - name: esp32:esp32
              source-url: https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json
              version: 2.0.13
          sketch-paths: |
            - ./
          libraries: |
              - source-url: https://github.com/marcel-licence/ML_SynthTools.git
                name: ML_SynthTools
              - source-url: https://github.com/marcel-licence/ML_SynthTools_Lib.git
                name: ML_SynthTools_Lib
              - source-url: https://github.com/adafruit/Adafruit-GFX-Library.git
                name: Adafruit_GFX_Library
                version: 1.10.10
              - source-url: https://github.com/adafruit/Adafruit_SSD1306.git
                name: Adafruit_SSD1306
                version: 2.4.5
              - source-url: https://github.com/adafruit/Adafruit_BusIO.git
                name: Adafruit BusIO
                version: 1.14.1

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: rp2040-${{ matrix.fqbn }}
          path: |
            sketch/build/**/*.uf2
            sketch/build/**/*.bin
            sketch/build/**/*.hex

  build_esp8266:

    name: build esp8266

    runs-on: ubuntu-latest

    strategy:
      matrix:
        fqbn:
          - esp8266:esp8266:d1_mini

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          
      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: ${{ matrix.fqbn }}
          platforms: |
            - name: esp8266:esp8266
              source-url: https://arduino.esp8266.com/stable/package_esp8266com_index.json
              version: 3.1.2
          sketch-paths: |
            - ./
          libraries: |
              - source-url: https://github.com/marcel-licence/ML_SynthTools.git
                name: ML_SynthTools
              - source-url: https://github.com/marcel-licence/ML_SynthTools_Lib.git
                name: ML_SynthTools_Lib
              - source-url: https://github.com/adafruit/Adafruit-GFX-Library.git
                name: Adafruit_GFX_Library
                version: 1.10.10
              - source-url: https://github.com/adafruit/Adafruit_SSD1306.git
                name: Adafruit_SSD1306
                version: 2.4.5
              - source-url: https://github.com/adafruit/Adafruit_BusIO.git
                name: Adafruit BusIO
                version: 1.14.1
              - source-url: https://github.com/marcel-licence/AC101.git
                name: AC101

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: rp2040-${{ matrix.fqbn }}
          path: |
            sketch/build/**/*.uf2
            sketch/build/**/*.bin
            sketch/build/**/*.hex

  build_rp2040:

    if: true

    name: build rp2040

    runs-on: ubuntu-latest

    strategy:
      matrix:
        fqbn:
          - rp2040:rp2040:rpipico

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Compile sketch
        uses: arduino/compile-sketches@v1
        with:
          fqbn: ${{ matrix.fqbn }}
          verbose: true
          cli-compile-flags: |
            - --build-property
            - "build.usbstack_flags=-DUSE_TINYUSB -I{runtime.platform.path}/libraries/Adafruit_TinyUSB_Arduino/src/arduino"
          platforms: |
            - name: rp2040:rp2040
              source-url: https://github.com/earlephilhower/arduino-pico/releases/download/global/package_rp2040_index.json
          sketch-paths: |
            - ./
          libraries: |
              - source-url: https://github.com/marcel-licence/ML_SynthTools.git
                name: ML_SynthTools
              - source-url: https://github.com/marcel-licence/ML_SynthTools_Lib.git
                name: ML_SynthTools_Lib
              - source-url: https://github.com/FortySevenEffects/arduino_midi_library.git
                name: MIDI_Library
                version: 5.0.2

      - name: Upload firmware artifact
        uses: actions/upload-artifact@v4
        with:
          name: rp2040-${{ matrix.fqbn }}
          path: |
            sketch/build/**/*.uf2
            sketch/build/**/*.bin
            sketch/build/**/*.hex
              
